<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mappers.boardMapper">

	<insert id="write">
		INSERT INTO board1(bno, title, content, writer)
	    VALUES(board1_seq.nextval, #{title}, #{content}, #{writer})
	</insert>
	 
	 <!-- 조회 -->
	 <select id="read" resultType="com.ljh.domain.BoardVO">
	 	SELECT bno, title, content, writer, regDate, viewCnt
	    FROM board1
	    WHERE bno = #{bno}
	 </select>
	
	 <!-- 수정 --> 
	 <update id="update">
	 	UPDATE board1 set title = #{title}, content = #{content} WHERE bno = #{bno}  
	 </update>
	 
	 <!-- 삭제 -->
	 <delete id="delete">
	 	DELETE FROM board1 WHERE bno = #{bno}
	 </delete>
	 
	 <!-- 목록 -->
	 <select id="list" resultType="com.ljh.domain.BoardVO">
	 	SELECT bno, title, writer, regDate
	    FROM board1
	    ORDER BY bno DESC
	 </select>
	 
	 <!-- 페이징 처리. -->
	 <select id="listPage" resultType="com.ljh.domain.BoardVO" parameterType="com.ljh.domain.Criteria">
	 	SELECT bno, title, content, writer, regDate, viewCnt
	    FROM (
	        SELECT bno, title, content, writer, regDate, viewCnt,
	            row_number() over(ORDER BY bno DESC) AS rNum
	        FROM board1
	        ) mb
	    WHERE rNum BETWEEN #{rowStart} AND #{rowEnd} ORDER BY bno DESC
	 </select>
	 
	 <!-- 게시물의 총 갯수 구하기. -->
	 <select id="listCount" resultType="int">
	 	<![CDATA[
	 		SELECT COUNT(bno) FROM board1 WHERE bno > 0
	 	]]>
	 </select>
	 
	 <!-- 검색 -->
	 <select id="listSearch" resultType="com.ljh.domain.BoardVO" parameterType="com.ljh.domain.SearchCriteria">
	 	SELECT bno, title, content, writer, regDate, viewCnt
	       FROM (
	           SELECT bno, title, content, writer, regDate, viewCnt,
	               row_number() over(ORDER BY bno DESC) as rNum
	           FROM board1
	   			<include refid="search"></include>
	   		) mb 
	   	WHERE rNum BETWEEN #{rowStart} AND #{rowEnd} ORDER BY bno DESC
	 </select>
	 
	 <sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">WHERE title LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">WHERE content LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">WHERE writer LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">WHERE (title LIKE '%' || #{keyword} || '%')										or (content like '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	<!-- 검색어에 맞는 게시물 갯수 -->
	<select id="countSearch" resultType="int">
		SELECT COUNT(bno)
		FROM board1
			<include refid="search"></include>
		<![CDATA[
			AND bno > 0
		]]>
	</select>
</mapper>